@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.profile-card{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;
    background: rgb(193, 144, 205);
    border-radius: 24px ;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}
.profile-card::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width:100%;
    border-radius: 24px 24px 0 0;
    background-color: #5e055b;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color:#5e055b;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img {
    height: 100%;
    width: 100%;
    align-items:center;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}
.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 22px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 5px;

}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width:34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color:#5e055b;
    text-decoration:wavy;
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;   
}
.buttons .button{
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    border:none;
    align-items: center;
    border-radius: 24px;
    margin: 10px 10px;
    padding: 8px 24px;
    background-color: #5e055b;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons.button:hover {
    background-color: #ffffff;
}